/********************************* Generals **********************************/
textarea {
    resize: none;
}

/********************************** Header ***********************************/
#banner {
	margin-bottom: 25px;
}

/********************************* Content ***********************************/


/********************************* Sidebar ***********************************/

#logo {
	width: 100%;
}

/********************************** Footer ***********************************/
footer {
	margin: 50px 0;
}
